{% extends 'base.html' %}
{% block title %}Jugadores{% endblock%}

{% block content %}
    {% if user.is_authenticated %}
        <section style="min-height: 100vh;">
            <h4> Equipos del futbol argentino</h4>
            <form method="GET" action="{% url 'jugadores' %}">
                <select class="form-select" aria-label="Default select example" name="equipo_id" id="equipo_id">
                    <option selected>Equipos...</option>
                    {% for equipo in equipos %}
                        <option value="{{ equipo.equipo_id }}">{{ equipo.nombre }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Filtrar</button>
            </form>

            <!-- NO FUNCIONA <h4>Jugadores de {{equipo.nombre}}</h4> -->

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Posición</th>
                        <th scope="col">Nacimiento</th>
                        <th scope="col">Altura</th>
                        <th scope="col">Nacionalidad</th>
                        <th scope="col">Equipo</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jugador in jugadores %}
                        <tr>
                            <td>{{ jugador.jugador_id }}</td>
                            <td>{{ jugador.nombre }}</td>
                            <td>{{ jugador.posicion }}</td>
                            <td>{{ jugador.nacimiento }}</td>
                            <td>{{ jugador.altura }}</td>
                            <td>{{ jugador.nacionalidad }}</td>
                            <td>{{ jugador.equipo.nombre }}</td>
                            <td><a href="edicionJugador/{{jugador.jugador_id}}" class="btn btn-info">Editar</a></td>
                            <td><a href="eliminacionJugador/{{jugador.jugador_id}}" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h5>Agregar Jugador</h5>
            <form method="POST" action="/registrarJugador/"> {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Ingrese Nombre" required>
                </div>
                <div class="form-group">
                    <label for="posicion">Posicion</label>
                    <select class="form-select" name="posicion" id="posicion" required>
                        <option value="DEL">Delantero</option>
                        <option value="MED">Mediocampista</option>
                        <option value="DEF">Defensor</option>
                        <option value="ARQ">Arquero</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nacimiento">Nacimiento</label>
                    <input type="date" id="nacimiento" name="nacimiento" class="form-control" value="1980-04-01" min="1970-04-01" max="2007-04-01" required>
                </div>
                <div class="form-group">
                    <label for="altura">Altura</label>
                    <input type="text" id="altura" name="altura" class="form-control" placeholder="Ingrese Altura" required>
                </div>
                <div class="form-group">
                    <label for="nacionalidad">Nacionalidad</label>
                    <input type="text" id="nacionalidad" name="nacionalidad" class="form-control" placeholder="Ingrese Nacionalidad" required>
                </div>
                <div>
                    <label for="equipo_id_create">Equipo</label>
                    <select class="form-select" name="equipo_id_create" id="equipo_id_create" required>
                        <option selected>Equipos...</option>
                        {% for equipo in equipos %}
                            <option value="{{ equipo.equipo_id }}">{{ equipo.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success text-white mt-2">Agregar Jugador</button>
                </div>
        </section>

        {% else %}
            <section class="text-center" style="height: 100vh;">
                <h2>Inicia sesion para acceder a esta seccion</h2>
                <a href="/signin" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Login</a> 
                <a href="/signup" class="btn btn-success">Signup</a>
            </section>
        {% endif %}

{% endblock %}