{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <section class="contact-section py-5" style="height: 100vh;">
        <div class="container">
            <h2 class="text-center mb-4">Login</h2>
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p style="color: red">{{ msg }}</p>
                        <div>
                            <button type="submit" class="btn btn-primary">Login</button>
                            <a href="/signup" class="btn btn-success">Signup</a>
                        </div>
                    </form>
{% endblock %}