{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block userIcon %}
    {% if user.is_authenticated %}
            <a href="/signout"><i class='bx bx-log-out' style="color: black; font-size: 20px;"></i></a>
    {% else %}
            <a href="/signin"><i class='bx bxs-user' style="color: black; font-size: 20px;"></i></a>
    {% endif %}
{% endblock %}

{% block content %}
        {% if user.is_authenticated %}
            <section class="text-center">
                <h2>Welcome {{ user.username }}!</h2>
            </section>
            <section style="height: 100vh;">
                <h5> Hola, soy tu ayudante tecnico de futbol ¿En que puedo ayudarte?</h5>
                <form method="POST" >
                    {% csrf_token %}
                    <input type="text" class="form-control" name="user_input">
                    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                </form>
            
                {% if response %}
                    <div>
                        {{ response|safe }}
                    </div>
                {% endif %}

                <a href="/signout" class="btn btn-danger mt-3">LogOut</a>
            </section>

        {% else %}
            <section class="text-center" style="height: 100vh;">
                <h2>Inicia sesion para acceder a esta seccion</h2>
                <a href="/signin" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Login</a> 
                <a href="/signup" class="btn btn-success">Signup</a>
            </section>
        {% endif %}

{% endblock %}