{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <section class="text-center">
        <h2>Welcome!</h2>
        {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <a href="/signout" class="btn btn-danger">Logout</a>
        {% else %}
            <a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span>Login</a> 
            <a href="/signup" class="btn btn-success">Signup</a>
        {% endif %}
    </section>
    <h3> Hola, soy tu ayudante tecnico de futbol ¿En que puedo ayudarte?</h3>
    <form method="POST" style="height: 100vh;">
        {% csrf_token %}
        <input type="text" class="form-control" name="user_input">
        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>

    {% if response %}
        <div>
            {{ response|safe }}
        </div>
    {% endif %}
{% endblock %}