{% extends 'base.html' %}
{% block title %}Sign Up{% endblock%}
{% block content %}
    <section class="contact-section py-5" style="height: 100vh;">
        <div class="container">
            <h2 class="text-center mb-4">Sign Up</h2>
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}
                        <button type="submit" class="btn btn-success">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}